body, h1 {
    font-family: "Raleway", sans-serif;
    text-shadow: 3px 3px 2px #0009;
}

body, html {
    height: 100%
}

.bgimg {
    background-image: url('../images/predio.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}